.meal-items {
  font-size: 22px;
  color: white;
  background-color: tomato;
  max-width: 80%;
  box-sizing: border-box;
  width: 80%;
  box-shadow: 12px 12px 2px 1px lightsalmon;
  flex-direction: column;
  margin-left: 10%;
}
